body {
    font-family: 'Montserrat', sans-serif;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    background-color: #909ae7;
    padding: 20px;
}

section {
    background-color: #F2EFDF;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px #282b40;
    border: 2px solid #03318C;
}

header,
h2 {
    text-align: center;
    font-family: 'Spartan', cursive;
    color: #03318C;
}

img {
    box-shadow: 5px 20px 50px #282b40;
    height: 300px;
}

footer {
    background-color: #282b40;
    text-align: center;
    color: #F1F2EC;
    width: 100%;
    padding: 20px 0px;
}

footer a {
    color: #F1F2EC;
}

@media only screen and (min-width: 32.5em) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 60em) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}