@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
body {
    font-family: Ubuntu, san serif;
}

table {
    margin: 0px auto;
    box-shadow: 0 0 25px #000000;
}

thead tr,
tfoot {
    background-color: #7fb9c2;
}

tbody th {
    background-color: #628ca6;
    color: #ffffff;
    font-weight: bold;
}

#final {
    background-color: #628ca6;
}

table,
th,
td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 10px;
}

tbody {
    background: #e7ffed;
}

table tr:nth-child(even) {
    background-color: #e7f0ed;
}

tfoot tr {
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #e7ffed;
    border: 1px solid #628ca6;
    border: 1px solid #7fb9c2;
}

table {
    text-align: center;
    padding: 10px;
}